html {
  overflow: overlay;
}

.app {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 10px;
}


#title {
  font-family: Bangers;
  font-size: 80px;
  margin: 0;
}



