.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


#title {
  font-family: Bangers;
  font-size: 80px;
}

.to-do-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#filter-list {
  border-radius: 5px;
  height: 4rem;
  font-size: 1.5rem;
  width:fit-content;
}
#to-do-list-item {
  list-style-type: none;
  border: thin solid white;
  padding: 8px;
}
#list-item-id {
  color: #61dafb;
  margin-right: 15px;
}

